header {
    display:flex;
    align-items: center;
    justify-content: center;
}
div#content {
    background:#eee;
    padding:8px;
    margin:10px;
    border-radius: 4px;
    border: 1px gray dashed;
}