header {
    display:flex;
    align-items: center;
    justify-content: center;
}
div#content {
    background:#eee;
    padding:8px;
    margin:10px;
    border-radius: 4px;
    border: 1px gray dashed;
}
button {
    padding:5px 15px;
    border: 2px solid rgb(129, 118, 97);
    border-radius: 4px;
    background:wheat;
    color:black;
}